poolController_Node-red_ver-0.0.1.json
[
    {
        "id": "eec921f299f35505",
        "type": "tab",
        "label": "Main Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2242e2f628b1ea7d",
        "type": "tab",
        "label": "Waterfall Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2c68e9ea49e3bd9",
        "type": "tab",
        "label": "Cleaner Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a0a70f997c94c8e",
        "type": "tab",
        "label": "Lighting Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13125f291573f180",
        "type": "tab",
        "label": "Freeze Protection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b22b498c6292ac6",
        "type": "tab",
        "label": "Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6e03a16f09c42f2",
        "type": "tab",
        "label": "Remote IO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca6ac7a4f6a7c932",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4f41f112dbc6f131",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Pool Panel",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "96ba6156ddf227ae",
        "type": "ui_group",
        "name": "Main Pump",
        "tab": "ca6ac7a4f6a7c932",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7692346a821a947a",
        "type": "ui_group",
        "name": "Pump Set Points",
        "tab": "c5577b4b5680aa1a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48d756b4de93a0b0",
        "type": "ui_group",
        "name": "Waterfall Pump",
        "tab": "ca6ac7a4f6a7c932",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a77680b5e2f83022",
        "type": "ui_group",
        "name": "Aux Equipment",
        "tab": "ca6ac7a4f6a7c932",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5577b4b5680aa1a",
        "type": "ui_tab",
        "name": "Speed Set Points",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38e9d493fe60cee2",
        "type": "modbustcp-server",
        "name": "Remote PLC I/O",
        "host": "192.168.100.27",
        "port": "23",
        "unit_id": "1",
        "reconnecttimeout": "2"
    },
    {
        "id": "d254887f7bb0664c",
        "type": "ui_group",
        "name": "Light Control Panel",
        "tab": "fde14ea28d12cb30",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04857c5dd16511db",
        "type": "persist-store",
        "filename": "persistence.json",
        "interval": "60"
    },
    {
        "id": "c7413c7458c9aa60",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "TCP-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "83e3861adaad8246",
        "type": "ui_group",
        "name": "Freeze Protection",
        "tab": "c5577b4b5680aa1a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fde14ea28d12cb30",
        "type": "ui_tab",
        "name": "Light Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4ed74516595ff8c2",
        "type": "ui_tab",
        "name": "Runtime Schedule",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b7c26123c2ad79bb",
        "type": "ui_group",
        "name": "Main Pump",
        "tab": "4ed74516595ff8c2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84957e4c9b1a3907",
        "type": "ui_group",
        "name": "Waterfall Pump",
        "tab": "4ed74516595ff8c2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a8650e4fce7628a",
        "type": "ui_group",
        "name": "Cleaner Pump",
        "tab": "4ed74516595ff8c2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dee71a8af148b69d",
        "type": "ui_group",
        "name": "Main Pump Setup",
        "tab": "b265ddd1f0c070c5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b265ddd1f0c070c5",
        "type": "ui_tab",
        "name": "Set Points",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57f4322e5aa17822",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "b7c26123c2ad79bb",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "0721e909bb296888",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "b7c26123c2ad79bb",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "ec0290fab181d5cd",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "84957e4c9b1a3907",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "3cbee03e93e4af0a",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "84957e4c9b1a3907",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "8da89d6b929b998f",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "6a8650e4fce7628a",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a80adf36d1115c6",
        "type": "ui_spacer",
        "z": "6b22b498c6292ac6",
        "name": "spacer",
        "group": "6a8650e4fce7628a",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "b1476d4d493c883a",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Run Pump",
        "func": "// Pump Run node creates the hex command for running\n// the pump before sending it to the pump.  The command\n// must be sent in intervals to the pump not to exceed \n// 1 minute or the pump will stop running.  \n\n// 15 address\n// 41 function\n// 20 ack\n// 518C CRC16 modbus\n\nif (msg.payload === 1) {\n    msg.payload = Buffer.from(\"154120518C\", \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "ab0565353a45f0a1",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Stop Pump",
        "func": "// Pump Stop node creates the hex command for stopping\n// the pump before sending it to the pump\n// 15 address\n// 42 function\n// 20 ack\n// 517C CRC16 modbus\n\nif (msg.payload === 0) {\n    await delay(500);\n    return [{ payload:Buffer.from(\"154220517C\",\"hex\")}];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "551b272b5a604b1f",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Variables",
        "func": "if (msg.topic === \"MainPumpSP\") {\n    global.set('mainpumpsd', msg.payload);\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('mainpumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\nif (msg.topic === \"PrimePumpSP\") {\n    global.set('primepumpsd', msg.payload);\n}\nif (msg.topic === \"MainPumpHeaterSP\") {\n    global.set('heaterpumpsd', msg.payload);\n}\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 580,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "73bca259cb8c16b9",
        "type": "tcp request",
        "z": "eec921f299f35505",
        "name": "",
        "server": "192.168.100.39",
        "port": "23",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "49e2f19cb910415c",
                "f4a719a49190f362",
                "9bfc70496b295092"
            ]
        ]
    },
    {
        "id": "33add2c41c2970b7",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Status",
        "func": "// Pump status node creates the hex command for pump run \n// status before sending it to the pump\n// 15 address\n// 43 function\n// 20 ack\n// 50EC CRC16 modbus\n\nif(msg.payload === 1) {\n    // check pump status\n    msg.payload=Buffer.from(\"15432050EC\",\"hex\");\n    await delay(600);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 60,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "49e2f19cb910415c",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Status",
        "func": "var msg2 = 0;\n\nif(msg.payload[1] === 67 && msg.payload[0] === 21) {\n    if(msg.payload[3] === 0) { msg.payload=0 }\n    if(msg.payload[3] === 11) { msg.payload=1}\n    if(msg.payload[3] === 32) { msg.payload=2}\n\n    if(msg.payload === 1){\n        msg2 = 1;\n    }\n    else {\n        msg2 =0;\n    }\n    return [msg, {'payload':msg2}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "2927fbe8a0310aec"
            ],
            [
                "26bafbc36389233a"
            ]
        ]
    },
    {
        "id": "2718e1e0c9e7f20c",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Speed",
        "func": "// Pump speed node creates the hex command for pump RPM\n// status before sending it to the pump\n// 15 address\n// 45 function\n// 20 ack\n// 00 Page\n// 00 register address\n// 3D05 CRC16 modbus\n\nif(msg.payload === 1) {\n    // check pump speed\n    msg.payload=Buffer.from(\"15452000003D05\",\"hex\");\n    await delay(700);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "43211d4ac3eb7fc8",
        "type": "ui_gauge",
        "z": "eec921f299f35505",
        "name": "",
        "group": "96ba6156ddf227ae",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Main Pump Speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "3600",
        "colors": [
            "#ca3838",
            "#ffff00",
            "#00b500"
        ],
        "seg1": "600",
        "seg2": "1800",
        "diff": false,
        "className": "",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4a719a49190f362",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Speed",
        "func": "var buff = Buffer.from(msg.payload);\n\nif(msg.payload[4] === 0 && msg.payload[0] === 21 && buff.length === 9) {\n    var msgOutput = msg.payload[6].toString(16) + msg.payload[5].toString(16);\n    var msgSpeed = parseInt(msgOutput, 16)/4; \n    return [{'payload':msgSpeed},{'payload':buff.length}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "43211d4ac3eb7fc8"
            ],
            []
        ]
    },
    {
        "id": "496789266ceaeeab",
        "type": "inject",
        "z": "eec921f299f35505",
        "name": "Poll Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2.25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "33add2c41c2970b7",
                "2718e1e0c9e7f20c",
                "43d36b99e31ae928"
            ]
        ]
    },
    {
        "id": "200db0e3ae1fcc66",
        "type": "trigger",
        "z": "eec921f299f35505",
        "name": "Keep Alive Pulse",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "b1476d4d493c883a"
            ]
        ]
    },
    {
        "id": "1484636c17e0f109",
        "type": "eztimer",
        "z": "eec921f299f35505",
        "name": "Run Main Pool Pump",
        "debug": false,
        "autoname": "02:00 - 14:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "manual",
        "latLongHaZone": "zone.home",
        "lat": "",
        "lon": "",
        "timerType": "1",
        "startupMessage": true,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "02:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "2",
        "offtimesun": "dusk",
        "offtimetod": "14:00",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "ab0565353a45f0a1",
                "200db0e3ae1fcc66",
                "653cb24a711109d8",
                "8c4257c0485be3eb"
            ]
        ]
    },
    {
        "id": "2927fbe8a0310aec",
        "type": "ui_led",
        "z": "eec921f299f35505",
        "order": 2,
        "group": "96ba6156ddf227ae",
        "width": 0,
        "height": 0,
        "label": "Main Pump Run Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1390,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd40abea2ab33676",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "HOA_Convert",
        "func": "// HOA_Convert takes the output from the HOA multi-switch\n// and adds payload and commands the eztimer node can use.\n\nif(msg.payload==='hand'){\n    msg.payload = {'suspended':true};\n    msg.payload = {'action':'on'};\n    return msg;\n}\nelse if(msg.payload==='auto'){\n    msg.payload = {'suspended':false};\n    msg.payload = { 'action': 'off' };\n    return msg;\n}\nelse{\n    msg.payload = {'suspended':false};\n    msg.payload = {'action':'off'};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "1484636c17e0f109"
            ]
        ]
    },
    {
        "id": "9782788f893f3ff0",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "CRC16-modbus",
        "func": "var CRCMaster = {\n    StringToCheck: \"\",\n    CleanedString: \"\",\n    CRCTableDNP: [],\n    init: function() {\n        this.CRCDNPInit();\n    },\n    CleanString: function(inputType) {\n        if (inputType == \"ASCII\") {\n            this.CleanedString = this.StringToCheck;\n        } else {\n            if (this.StringToCheck.match(/^[0-9A-F \\t]+$/gi) !== null) {\n                this.CleanedString = this._hexStringToString(this.StringToCheck.toUpperCase().replace(/[\\t ]/g, ''));\n            } else {\n                //window.alert(\"String doesn't seem to be a valid Hex input.\");\n                return false;\n            }\n        }\n        return true;\n    },\n    CRCDNPInit: function() {\n        var i, j, crc, c;\n        for (i = 0; i < 256; i++) {\n            crc = 0;\n            c = i;\n            for (j = 0; j < 8; j++) {\n                if ((crc ^ c) & 0x0001) crc = (crc >> 1) ^ 0xA6BC;\n                else crc = crc >> 1;\n                c = c >> 1;\n            }\n            this.CRCTableDNP[i] = crc;\n        }\n    },\n    CRC16Modbus: function() {\n        var crc = 0xFFFF;\n        var str = this.CleanedString;\n        for (var pos = 0; pos < str.length; pos++) {\n            crc ^= str.charCodeAt(pos);\n            for (var i = 8; i !== 0; i--) {\n                if ((crc & 0x0001) !== 0) {\n                    crc >>= 1;\n                    crc ^= 0xA001;\n                } else\n                    crc >>= 1;\n            }\n        }\n        return crc;\n    },\n    _stringToBytes: function(str) {\n        var ch, st, re = [];\n        for (var i = 0; i < str.length; i++) {\n            ch = str.charCodeAt(i); // get char\n            st = []; // set up \"stack\"\n            do {\n                st.push(ch & 0xFF); // push byte to stack\n                ch = ch >> 8; // shift value down by 1 byte\n            }\n            while (ch);\n            // add stack contents to result\n            // done because chars have \"wrong\" endianness\n            re = re.concat(st.reverse());\n        }\n        // return an array of bytes\n        return re;\n    },\n    _hexStringToString: function(inputstr) {\n        var hex = inputstr.toString(); //force conversion\n        var str = '';\n        for (var i = 0; i < hex.length; i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        return str;\n    },\n    Calculate: function(str, inputType) {\n        this.StringToCheck = str;\n        if (this.CleanString(inputType)) {\n            crcinputcrc16modbus=this.CRC16Modbus().toString(16).toUpperCase();\n            crcinputcrc16modbus=crcinputcrc16modbus.substr(2) + crcinputcrc16modbus.substr(0, 2); //swap bytes\n   \n        }\n    }\n};\n\nCRCMaster.init();\n\nvar inputType = \"HEX\";\nvar crcinputcrc16modbus;\nvar crcinput = msg.payload;\n\nCRCMaster.Calculate(crcinput, inputType);\n\nmsg.payload = crcinput + crcinputcrc16modbus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "551b272b5a604b1f"
            ]
        ]
    },
    {
        "id": "7ffed07792ea384f",
        "type": "ui_numeric",
        "z": "eec921f299f35505",
        "name": "",
        "label": "Main Pump Speed",
        "tooltip": "",
        "group": "7692346a821a947a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "MainPumpSP",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1500",
        "max": "3500",
        "step": "50",
        "className": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "14122a40fc60c7d3",
                "80352435c1688ede"
            ]
        ]
    },
    {
        "id": "14122a40fc60c7d3",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set_Speed_CMD",
        "func": "var speed = msg.payload;\nspeed = speed * 4;\n\nvar hex = (speed).toString(16);\nvar len = hex.length;\nvar padLen = len + (len % 2);\nvar hexPad = hex.padStart(Math.max(padLen, 4), '0');\nvar pairs = hexPad.match(/../g).reverse().map(p => parseInt(p, 16));\nvar ui8Arr = new Uint8Array(pairs);\n\nvar buffCmd = Buffer.from(\"\\x15\\x44\\x20\\x00\");\nvar buffSP = Buffer.from(ui8Arr);\nvar arrComb = [buffCmd,buffSP];\nvar speedCmd = Buffer.concat(arrComb)\nhex = speedCmd.toString('hex');\n\nmsg.payload = hex;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 620,
        "wires": [
            [
                "9782788f893f3ff0"
            ]
        ]
    },
    {
        "id": "fee2937ab82e9596",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "CRC16-modbus",
        "func": "var CRCMaster = {\n    StringToCheck: \"\",\n    CleanedString: \"\",\n    CRCTableDNP: [],\n    init: function() {\n        this.CRCDNPInit();\n    },\n    CleanString: function(inputType) {\n        if (inputType == \"ASCII\") {\n            this.CleanedString = this.StringToCheck;\n        } else {\n            if (this.StringToCheck.match(/^[0-9A-F \\t]+$/gi) !== null) {\n                this.CleanedString = this._hexStringToString(this.StringToCheck.toUpperCase().replace(/[\\t ]/g, ''));\n            } else {\n                //window.alert(\"String doesn't seem to be a valid Hex input.\");\n                return false;\n            }\n        }\n        return true;\n    },\n    CRCDNPInit: function() {\n        var i, j, crc, c;\n        for (i = 0; i < 256; i++) {\n            crc = 0;\n            c = i;\n            for (j = 0; j < 8; j++) {\n                if ((crc ^ c) & 0x0001) crc = (crc >> 1) ^ 0xA6BC;\n                else crc = crc >> 1;\n                c = c >> 1;\n            }\n            this.CRCTableDNP[i] = crc;\n        }\n    },\n    CRC16Modbus: function() {\n        var crc = 0xFFFF;\n        var str = this.CleanedString;\n        for (var pos = 0; pos < str.length; pos++) {\n            crc ^= str.charCodeAt(pos);\n            for (var i = 8; i !== 0; i--) {\n                if ((crc & 0x0001) !== 0) {\n                    crc >>= 1;\n                    crc ^= 0xA001;\n                } else\n                    crc >>= 1;\n            }\n        }\n        return crc;\n    },\n    _stringToBytes: function(str) {\n        var ch, st, re = [];\n        for (var i = 0; i < str.length; i++) {\n            ch = str.charCodeAt(i); // get char\n            st = []; // set up \"stack\"\n            do {\n                st.push(ch & 0xFF); // push byte to stack\n                ch = ch >> 8; // shift value down by 1 byte\n            }\n            while (ch);\n            // add stack contents to result\n            // done because chars have \"wrong\" endianness\n            re = re.concat(st.reverse());\n        }\n        // return an array of bytes\n        return re;\n    },\n    _hexStringToString: function(inputstr) {\n        var hex = inputstr.toString(); //force conversion\n        var str = '';\n        for (var i = 0; i < hex.length; i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        return str;\n    },\n    Calculate: function(str, inputType) {\n        this.StringToCheck = str;\n        if (this.CleanString(inputType)) {\n            crcinputcrc16modbus=this.CRC16Modbus().toString(16).toUpperCase();\n            crcinputcrc16modbus=crcinputcrc16modbus.substr(2) + crcinputcrc16modbus.substr(0, 2); //swap bytes\n   \n        }\n    }\n};\n\nCRCMaster.init();\n\nvar inputType = \"HEX\";\nvar crcinputcrc16modbus;\nvar crcinput = msg.payload;\n\nCRCMaster.Calculate(crcinput, inputType);\n\nmsg.payload = crcinput + crcinputcrc16modbus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "551b272b5a604b1f"
            ]
        ]
    },
    {
        "id": "bf605c77f42e33d8",
        "type": "ui_numeric",
        "z": "eec921f299f35505",
        "name": "",
        "label": "Prime Pump Speed",
        "tooltip": "",
        "group": "7692346a821a947a",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "PrimePumpSP",
        "topicType": "str",
        "format": "{{value}}",
        "min": "2500",
        "max": "3500",
        "step": "50",
        "className": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "573da8a7d97c15c8",
                "6ecd92d4e80384fe"
            ]
        ]
    },
    {
        "id": "573da8a7d97c15c8",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set_Speed_CMD",
        "func": "var speed = msg.payload;\nspeed = speed * 4;\n\nvar hex = (speed).toString(16);\nvar len = hex.length;\nvar padLen = len + (len % 2);\nvar hexPad = hex.padStart(Math.max(padLen, 4), '0');\nvar pairs = hexPad.match(/../g).reverse().map(p => parseInt(p, 16));\nvar ui8Arr = new Uint8Array(pairs);\n\nvar buffCmd = Buffer.from(\"\\x15\\x44\\x20\\x00\");\nvar buffSP = Buffer.from(ui8Arr);\nvar arrComb = [buffCmd,buffSP];\nvar speedCmd = Buffer.concat(arrComb)\nhex = speedCmd.toString('hex');\n\nmsg.payload = hex;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 720,
        "wires": [
            [
                "fee2937ab82e9596"
            ]
        ]
    },
    {
        "id": "9bfc70496b295092",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Watts",
        "func": "var buff = Buffer.from(msg.payload);\n\nif(msg.payload[4] === 1 && msg.payload[0] === 21 && buff.length === 9) {\n    var msgOutput = msg.payload[6].toString(16) + msg.payload[5].toString(16);\n    var msgSpeed = parseInt(msgOutput, 16) * 240; // Convert Amps to est. Watts\n    msgSpeed = msgSpeed/1000;  //scaling\n    return [{'payload':msgSpeed},{'payload':msgOutput}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "557db108d3b0abaa"
            ],
            []
        ]
    },
    {
        "id": "43d36b99e31ae928",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Pump Amp",
        "func": "// Pump Amp node creates the hex command for pump Amp\n// status before sending it to the pump\n// 15 address\n// 45 function\n// 20 ack\n// 00 Page\n// 01 register address\n// FCC5 CRC16 modbus\n\nif(msg.payload === 1) {\n    // check pump amp's\n    msg.payload=Buffer.from(\"1545200001FCC5\",\"hex\");\n    await delay(800);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "557db108d3b0abaa",
        "type": "ui_text",
        "z": "eec921f299f35505",
        "group": "96ba6156ddf227ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power (watts):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1380,
        "y": 360,
        "wires": []
    },
    {
        "id": "fbdd1ffcffc672ed",
        "type": "ui_multistate_switch",
        "z": "eec921f299f35505",
        "name": "",
        "group": "96ba6156ddf227ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "HOA Main Pump",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": false,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "Off",
                "value": "off",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Auto",
                "value": "auto",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Hand",
                "value": "hand",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "bd40abea2ab33676"
            ]
        ]
    },
    {
        "id": "80352435c1688ede",
        "type": "ui_digital_display",
        "z": "eec921f299f35505",
        "name": "Main Pump RPM Set",
        "group": "7692346a821a947a",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 140,
        "y": 580,
        "wires": []
    },
    {
        "id": "6ecd92d4e80384fe",
        "type": "ui_digital_display",
        "z": "eec921f299f35505",
        "name": "Prime RPM Set",
        "group": "7692346a821a947a",
        "order": 8,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 120,
        "y": 680,
        "wires": []
    },
    {
        "id": "df2407ff92c84021",
        "type": "delay",
        "z": "eec921f299f35505",
        "name": "Message Buffer 50ms",
        "pauseType": "rate",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.05",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "73bca259cb8c16b9"
            ]
        ]
    },
    {
        "id": "653cb24a711109d8",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Pump Prime Demand",
        "func": "// Set Pump Prime Demand node creates the hex command \n// for setting pump rpm to prime rpm to starting pump\n// global variables 'primepumpsd' holds the hex command\n// for demand set prime speed\n\nif (msg.payload === 1) {\n    // push prime speed to pump\n    msg.payload = Buffer.from(global.get('primepumpsd'), \"hex\");\n    await delay(500);\n    return [msg, { 'payload': 1 }];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "df2407ff92c84021"
            ],
            [
                "323677db99a0022e"
            ]
        ]
    },
    {
        "id": "1c13a9ea6fd77d08",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "CRC16-modbus",
        "func": "var CRCMaster = {\n    StringToCheck: \"\",\n    CleanedString: \"\",\n    CRCTableDNP: [],\n    init: function() {\n        this.CRCDNPInit();\n    },\n    CleanString: function(inputType) {\n        if (inputType == \"ASCII\") {\n            this.CleanedString = this.StringToCheck;\n        } else {\n            if (this.StringToCheck.match(/^[0-9A-F \\t]+$/gi) !== null) {\n                this.CleanedString = this._hexStringToString(this.StringToCheck.toUpperCase().replace(/[\\t ]/g, ''));\n            } else {\n                //window.alert(\"String doesn't seem to be a valid Hex input.\");\n                return false;\n            }\n        }\n        return true;\n    },\n    CRCDNPInit: function() {\n        var i, j, crc, c;\n        for (i = 0; i < 256; i++) {\n            crc = 0;\n            c = i;\n            for (j = 0; j < 8; j++) {\n                if ((crc ^ c) & 0x0001) crc = (crc >> 1) ^ 0xA6BC;\n                else crc = crc >> 1;\n                c = c >> 1;\n            }\n            this.CRCTableDNP[i] = crc;\n        }\n    },\n    CRC16Modbus: function() {\n        var crc = 0xFFFF;\n        var str = this.CleanedString;\n        for (var pos = 0; pos < str.length; pos++) {\n            crc ^= str.charCodeAt(pos);\n            for (var i = 8; i !== 0; i--) {\n                if ((crc & 0x0001) !== 0) {\n                    crc >>= 1;\n                    crc ^= 0xA001;\n                } else\n                    crc >>= 1;\n            }\n        }\n        return crc;\n    },\n    _stringToBytes: function(str) {\n        var ch, st, re = [];\n        for (var i = 0; i < str.length; i++) {\n            ch = str.charCodeAt(i); // get char\n            st = []; // set up \"stack\"\n            do {\n                st.push(ch & 0xFF); // push byte to stack\n                ch = ch >> 8; // shift value down by 1 byte\n            }\n            while (ch);\n            // add stack contents to result\n            // done because chars have \"wrong\" endianness\n            re = re.concat(st.reverse());\n        }\n        // return an array of bytes\n        return re;\n    },\n    _hexStringToString: function(inputstr) {\n        var hex = inputstr.toString(); //force conversion\n        var str = '';\n        for (var i = 0; i < hex.length; i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        return str;\n    },\n    Calculate: function(str, inputType) {\n        this.StringToCheck = str;\n        if (this.CleanString(inputType)) {\n            crcinputcrc16modbus=this.CRC16Modbus().toString(16).toUpperCase();\n            crcinputcrc16modbus=crcinputcrc16modbus.substr(2) + crcinputcrc16modbus.substr(0, 2); //swap bytes\n   \n        }\n    }\n};\n\nCRCMaster.init();\n\nvar inputType = \"HEX\";\nvar crcinputcrc16modbus;\nvar crcinput = msg.payload;\n\nCRCMaster.Calculate(crcinput, inputType);\n\nmsg.payload = crcinput + crcinputcrc16modbus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "551b272b5a604b1f"
            ]
        ]
    },
    {
        "id": "045724b12257d2e9",
        "type": "ui_numeric",
        "z": "eec921f299f35505",
        "name": "",
        "label": "Main Pump Heater Speed",
        "tooltip": "",
        "group": "7692346a821a947a",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "MainPumpHeaterSP",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1500",
        "max": "3500",
        "step": "50",
        "className": "",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "fbc8f1231527c978",
                "8c39f1fc41509a6d"
            ]
        ]
    },
    {
        "id": "fbc8f1231527c978",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set_Speed_CMD",
        "func": "var speed = msg.payload;\nspeed = speed * 4;\n\nvar hex = (speed).toString(16);\nvar len = hex.length;\nvar padLen = len + (len % 2);\nvar hexPad = hex.padStart(Math.max(padLen, 4), '0');\nvar pairs = hexPad.match(/../g).reverse().map(p => parseInt(p, 16));\nvar ui8Arr = new Uint8Array(pairs);\n\nvar buffCmd = Buffer.from(\"\\x15\\x44\\x20\\x00\");\nvar buffSP = Buffer.from(ui8Arr);\nvar arrComb = [buffCmd,buffSP];\nvar speedCmd = Buffer.concat(arrComb)\nhex = speedCmd.toString('hex');\n\nmsg.payload = hex;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "1c13a9ea6fd77d08"
            ]
        ]
    },
    {
        "id": "8c39f1fc41509a6d",
        "type": "ui_digital_display",
        "z": "eec921f299f35505",
        "name": "Main Pump Heater RPM Set",
        "group": "7692346a821a947a",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 160,
        "y": 780,
        "wires": []
    },
    {
        "id": "72236852128f856c",
        "type": "delay",
        "z": "eec921f299f35505",
        "name": "Message Buffer 50ms",
        "pauseType": "rate",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.05",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 880,
        "y": 1060,
        "wires": [
            [
                "73bca259cb8c16b9"
            ]
        ]
    },
    {
        "id": "04242e2acc0575a8",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Stop Pump",
        "func": "if (msg.payload === 0) {\n    global.set('counterMP',0);\n    await delay(500);\n    return [{ payload:Buffer.from(\"154220517C\",\"hex\")}];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1060,
        "wires": [
            [
                "72236852128f856c"
            ]
        ]
    },
    {
        "id": "c7baae9812a91893",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Run Pump",
        "func": "if (msg.payload === 1) {\n    msg.payload = Buffer.from(\"154120518C\", \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "72236852128f856c"
            ]
        ]
    },
    {
        "id": "4ecff4bf7f0bb279",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Pump Demand",
        "func": "if (global.get('counterMP') < 2) {\n    // push 2850 prime pump\n    msg.payload = Buffer.from(global.get('primepumpsd'), \"hex\");\n    global.set('counterMP', global.get('counterMP') + 1);\n    await delay(1500);\n    return msg;\n}\nif (global.get('counterMP') > 24 && global.get('counterMP') < 26) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('heaterpumpsd'), \"hex\");\n    global.set('counterMP', global.get('counterMP') + 1);\n    await delay(1500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "72236852128f856c"
            ]
        ]
    },
    {
        "id": "a67baf38ca13625b",
        "type": "trigger",
        "z": "eec921f299f35505",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "c7baae9812a91893",
                "4ecff4bf7f0bb279"
            ]
        ]
    },
    {
        "id": "a56b8b17f7d4a21c",
        "type": "comment",
        "z": "eec921f299f35505",
        "name": "Future for Heater/Cooler Pump Run",
        "info": "",
        "x": 440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "323677db99a0022e",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Pump Prime Demand bk",
        "func": "//  Repeats to inusre command makes it to pump.  \n\n// Set Pump Prime Demand node creates the hex command\n// for setting pump rpm to prime rpm to starting pump\n// global variables 'primepumpsd' holds the hex command\n// for demand set prime speed\n\nif (msg.payload === 1) {\n    // push prime speed to pump\n    msg.payload = Buffer.from(global.get('primepumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "8c4257c0485be3eb",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Pump Speed Demand",
        "func": "// Set Pump Speed Demand node creates the hex command\n// for setting pump rpm to normal speed after 120 seconds\n\n// global variables 'mainpumpsd' holds the hex command\n// for demand set speed\n\nif (msg.payload === 1) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('mainpumpsd'), \"hex\");\n    await delay(120000);\n    return [msg, { 'payload': 1 }];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "df2407ff92c84021"
            ],
            [
                "7d584f5c6c0f4568"
            ]
        ]
    },
    {
        "id": "7d584f5c6c0f4568",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Pump Speed Demand bk",
        "func": "// Repeats command to insure delivery\n\n// Set Pump Speed Demand node creates the hex command\n// for setting pump rpm to normal speed after 120 seconds\n\n// global variables 'mainpumpsd' holds the hex command\n// for demand set speed\n\nif (msg.payload === 1) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('mainpumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "df2407ff92c84021"
            ]
        ]
    },
    {
        "id": "26bafbc36389233a",
        "type": "rbe",
        "z": "eec921f299f35505",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "d90598062b230d91"
            ]
        ]
    },
    {
        "id": "6d60918a2d1d00c7",
        "type": "link in",
        "z": "eec921f299f35505",
        "name": "link in Cleaner",
        "links": [
            "3c0e65b82291ca59"
        ],
        "x": 205,
        "y": 180,
        "wires": [
            [
                "1484636c17e0f109"
            ]
        ]
    },
    {
        "id": "5ef145ec8dcb0b8a",
        "type": "link in",
        "z": "eec921f299f35505",
        "name": "link in Freeze",
        "links": [
            "919febfe094f2632"
        ],
        "x": 205,
        "y": 140,
        "wires": [
            [
                "1484636c17e0f109"
            ]
        ]
    },
    {
        "id": "dff85099e89fce57",
        "type": "link in",
        "z": "eec921f299f35505",
        "name": "link in Schedule Main",
        "links": [
            "7cce2edea9cb0127",
            "eda800d7f3e0a0c5",
            "17cb870608287ede"
        ],
        "x": 205,
        "y": 100,
        "wires": [
            [
                "1484636c17e0f109"
            ]
        ]
    },
    {
        "id": "d90598062b230d91",
        "type": "function",
        "z": "eec921f299f35505",
        "name": "Set Oxidizer Global",
        "func": "global.set('oxidizer',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 180,
        "wires": [
            [
                "e8e5f666e8b91f3a"
            ]
        ]
    },
    {
        "id": "e8e5f666e8b91f3a",
        "type": "ui_led",
        "z": "eec921f299f35505",
        "order": 2,
        "group": "a77680b5e2f83022",
        "width": 0,
        "height": 0,
        "label": "Oxidizer Run Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1730,
        "y": 240,
        "wires": []
    },
    {
        "id": "6ccd7a679e3a2ecc",
        "type": "comment",
        "z": "eec921f299f35505",
        "name": "Pump #1 control flow",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "9fd0a25a9d1cac96",
        "type": "comment",
        "z": "eec921f299f35505",
        "name": "tcp out can be replaced with rtu out if using attached /dev/tty",
        "info": "",
        "x": 1260,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7fea43de9ee4625",
        "type": "comment",
        "z": "eec921f299f35505",
        "name": "Interface to adjust pump speeds, converts number into hex, adds pump specific commands and CRC16",
        "info": "",
        "x": 350,
        "y": 540,
        "wires": []
    },
    {
        "id": "3ab6c971f06f442d",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "CRC16-modbus",
        "func": "var CRCMaster = {\n    StringToCheck: \"\",\n    CleanedString: \"\",\n    CRCTableDNP: [],\n    init: function() {\n        this.CRCDNPInit();\n    },\n    CleanString: function(inputType) {\n        if (inputType == \"ASCII\") {\n            this.CleanedString = this.StringToCheck;\n        } else {\n            if (this.StringToCheck.match(/^[0-9A-F \\t]+$/gi) !== null) {\n                this.CleanedString = this._hexStringToString(this.StringToCheck.toUpperCase().replace(/[\\t ]/g, ''));\n            } else {\n                //window.alert(\"String doesn't seem to be a valid Hex input.\");\n                return false;\n            }\n        }\n        return true;\n    },\n    CRCDNPInit: function() {\n        var i, j, crc, c;\n        for (i = 0; i < 256; i++) {\n            crc = 0;\n            c = i;\n            for (j = 0; j < 8; j++) {\n                if ((crc ^ c) & 0x0001) crc = (crc >> 1) ^ 0xA6BC;\n                else crc = crc >> 1;\n                c = c >> 1;\n            }\n            this.CRCTableDNP[i] = crc;\n        }\n    },\n    CRC16Modbus: function() {\n        var crc = 0xFFFF;\n        var str = this.CleanedString;\n        for (var pos = 0; pos < str.length; pos++) {\n            crc ^= str.charCodeAt(pos);\n            for (var i = 8; i !== 0; i--) {\n                if ((crc & 0x0001) !== 0) {\n                    crc >>= 1;\n                    crc ^= 0xA001;\n                } else\n                    crc >>= 1;\n            }\n        }\n        return crc;\n    },\n    _stringToBytes: function(str) {\n        var ch, st, re = [];\n        for (var i = 0; i < str.length; i++) {\n            ch = str.charCodeAt(i); // get char\n            st = []; // set up \"stack\"\n            do {\n                st.push(ch & 0xFF); // push byte to stack\n                ch = ch >> 8; // shift value down by 1 byte\n            }\n            while (ch);\n            // add stack contents to result\n            // done because chars have \"wrong\" endianness\n            re = re.concat(st.reverse());\n        }\n        // return an array of bytes\n        return re;\n    },\n    _hexStringToString: function(inputstr) {\n        var hex = inputstr.toString(); //force conversion\n        var str = '';\n        for (var i = 0; i < hex.length; i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        return str;\n    },\n    Calculate: function(str, inputType) {\n        this.StringToCheck = str;\n        if (this.CleanString(inputType)) {\n            crcinputcrc16modbus=this.CRC16Modbus().toString(16).toUpperCase();\n            crcinputcrc16modbus=crcinputcrc16modbus.substr(2) + crcinputcrc16modbus.substr(0, 2); //swap bytes\n   \n        }\n    }\n};\n\nCRCMaster.init();\n\nvar inputType = \"HEX\";\nvar crcinputcrc16modbus;\nvar crcinput = msg.payload;\n\nCRCMaster.Calculate(crcinput, inputType);\n\nmsg.payload = crcinput + crcinputcrc16modbus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "73c78aa373f47825"
            ]
        ]
    },
    {
        "id": "c41c5811e0e50c09",
        "type": "ui_numeric",
        "z": "2242e2f628b1ea7d",
        "name": "",
        "label": "Waterfall Pump Speed",
        "tooltip": "",
        "group": "7692346a821a947a",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "WFPumpSP",
        "topicType": "str",
        "format": "{{value}}",
        "min": "2000",
        "max": "3500",
        "step": "50",
        "className": "",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "6d2bc6d569285dc4",
                "2aa8b8db0686664c"
            ]
        ]
    },
    {
        "id": "6d2bc6d569285dc4",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set_Speed_CMD",
        "func": "var speed = msg.payload;\nspeed = speed * 4;\n\nvar hex = (speed).toString(16);\nvar len = hex.length;\nvar padLen = len + (len % 2);\nvar hexPad = hex.padStart(Math.max(padLen, 4), '0');\nvar pairs = hexPad.match(/../g).reverse().map(p => parseInt(p, 16));\nvar ui8Arr = new Uint8Array(pairs);\n\nvar buffCmd = Buffer.from(\"\\x15\\x44\\x20\\x00\");\nvar buffSP = Buffer.from(ui8Arr);\nvar arrComb = [buffCmd,buffSP];\nvar speedCmd = Buffer.concat(arrComb)\nhex = speedCmd.toString('hex');\n\nmsg.payload = hex;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "3ab6c971f06f442d"
            ]
        ]
    },
    {
        "id": "aa3f020438125ffe",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Run Pump",
        "func": "if (msg.payload === 1) {\n    // run pump command\n    msg.payload = Buffer.from(\"154120518C\", \"hex\");\n    await delay(500);\n    return msg;\n}\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "c706727fc5e07d59",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Stop Pump",
        "func": "if (msg.payload === 0) {\n    await delay(500);\n    return [{ payload:Buffer.from(\"154220517C\",\"hex\")}];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "dca8bf402e9e9a2e",
        "type": "tcp request",
        "z": "2242e2f628b1ea7d",
        "name": "",
        "server": "192.168.100.26",
        "port": "23",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "f28f7690adbe26bd",
                "41575a147acbb583",
                "64146a262769c5e8"
            ]
        ]
    },
    {
        "id": "b1350cfc78c50eee",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Status",
        "func": "if(msg.payload === 1) {\n    // check pump status\n    msg.payload=Buffer.from(\"15432050EC\",\"hex\");\n    await delay(600);\n    return msg;\n}\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "f28f7690adbe26bd",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Status",
        "func": "var msg2 = 0;\n\nif (msg.payload[1] === 67 && msg.payload[0] === 21) {\n    if (msg.payload[3] === 0) { msg.payload = 0 }\n    if (msg.payload[3] === 11) { msg.payload = 1 }\n    if (msg.payload[3] === 32) { msg.payload = 2 }\n\n    if (msg.payload === 1) {\n        msg2 = 1;\n    }\n    else {\n        msg2 = 0;\n    }\n    return [msg, { 'payload': msg2 }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 320,
        "wires": [
            [
                "d265227f7ce05653"
            ],
            []
        ]
    },
    {
        "id": "063ad6f1a3fbc839",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Speed",
        "func": "if(msg.payload === 1) {\n    // check pump rpm\n    msg.payload=Buffer.from(\"15452000003D05\",\"hex\");\n    await delay(700);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "7f2e0bdaf085ca0e",
        "type": "ui_gauge",
        "z": "2242e2f628b1ea7d",
        "name": "",
        "group": "48d756b4de93a0b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Waterfall Pump Speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "3600",
        "colors": [
            "#ca3838",
            "#ffff00",
            "#00b500"
        ],
        "seg1": "600",
        "seg2": "1800",
        "diff": false,
        "className": "",
        "x": 1620,
        "y": 360,
        "wires": []
    },
    {
        "id": "41575a147acbb583",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Speed",
        "func": "var buff = Buffer.from(msg.payload);\n\nif (msg.payload[4] === 0 && msg.payload[0] === 21 && buff.length === 9) {\n    var msgOutput = msg.payload[6].toString(16) + msg.payload[5].toString(16);\n    var msgSpeed = parseInt(msgOutput, 16) / 4;\n    return [{ 'payload': msgSpeed }, { 'payload': buff.length }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 360,
        "wires": [
            [
                "7f2e0bdaf085ca0e"
            ],
            []
        ]
    },
    {
        "id": "ffc82838237a2856",
        "type": "inject",
        "z": "2242e2f628b1ea7d",
        "name": "Poll Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2.25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "b1350cfc78c50eee",
                "063ad6f1a3fbc839",
                "4e0c59f08b380c9d"
            ]
        ]
    },
    {
        "id": "f9b343e0b7e286a6",
        "type": "trigger",
        "z": "2242e2f628b1ea7d",
        "name": "Keep Alive Pulse",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "aa3f020438125ffe"
            ]
        ]
    },
    {
        "id": "e77263115e1ca086",
        "type": "eztimer",
        "z": "2242e2f628b1ea7d",
        "name": "Run Waterfall Pool Pump",
        "debug": false,
        "autoname": "12:30 - 13:30",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "manual",
        "latLongHaZone": "zone.home",
        "lat": "",
        "lon": "",
        "timerType": "1",
        "startupMessage": true,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "12:30",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "2",
        "offtimesun": "dusk",
        "offtimetod": "13:30",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "sun": true,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "c706727fc5e07d59",
                "f9b343e0b7e286a6",
                "9c44f69ffc362448",
                "9af0e6f27a535a27"
            ]
        ]
    },
    {
        "id": "d265227f7ce05653",
        "type": "ui_led",
        "z": "2242e2f628b1ea7d",
        "order": 2,
        "group": "48d756b4de93a0b0",
        "width": 0,
        "height": 0,
        "label": "Waterfall Pump Run Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1570,
        "y": 320,
        "wires": []
    },
    {
        "id": "12e9a83fdd105b4b",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "HOA_Convert",
        "func": "if(msg.payload==='hand'){\n    msg.payload = {'suspended':true};\n    msg.payload = {'action':'on'};\n    return msg;\n}\nelse if(msg.payload==='auto'){\n    msg.payload = {'suspended':false};\n    msg.payload = { 'action': 'off' };\n    return msg;\n}\nelse{\n    msg.payload = {'suspended':false};\n    msg.payload = {'action':'off'};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "e77263115e1ca086"
            ]
        ]
    },
    {
        "id": "73c78aa373f47825",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set Variables",
        "func": "if (msg.topic === \"WFPumpSP\") {\n    global.set('wfpumpsd', msg.payload);\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('wfpumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 760,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "4e0c59f08b380c9d",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Amp",
        "func": "if(msg.payload === 1) {\n    // check pump amp's\n    msg.payload=Buffer.from(\"1545200001FCC5\",\"hex\");\n    await delay(800);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "64146a262769c5e8",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Pump Watts",
        "func": "var buff = Buffer.from(msg.payload);\n\nif (msg.payload[4] === 1 && msg.payload[0] === 21 && buff.length === 9) {\n    var msgOutput = msg.payload[6].toString(16) + msg.payload[5].toString(16);\n    var msgSpeed = parseInt(msgOutput, 16) * 240; // Convert Amps to est. Watts\n    msgSpeed = msgSpeed / 1000;  //scaling\n    return [{ 'payload': msgSpeed }, { 'payload': msgOutput }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 400,
        "wires": [
            [
                "28951a2641a3ef89"
            ],
            []
        ]
    },
    {
        "id": "28951a2641a3ef89",
        "type": "ui_text",
        "z": "2242e2f628b1ea7d",
        "group": "48d756b4de93a0b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power (watts):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 400,
        "wires": []
    },
    {
        "id": "876f1aa51d257d52",
        "type": "trigger",
        "z": "2242e2f628b1ea7d",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "num",
        "op2type": "num",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "de5be01573cf307a"
            ]
        ]
    },
    {
        "id": "54457a0a23170106",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Delay Shutoff Timer",
        "func": "if (msg.payload === 'hand') {\n    msg.payload = 1;\n    return msg;\n}\nelse if (msg.payload === 'auto') {\n    msg.payload = 0;\n    return msg;\n}\nelse {\n    msg.payload = 0;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "876f1aa51d257d52"
            ]
        ]
    },
    {
        "id": "de5be01573cf307a",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "HOA Reset",
        "func": "if(msg.payload===1){\n    msg.payload = 'auto';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "38f7771f2fded410"
            ]
        ]
    },
    {
        "id": "38f7771f2fded410",
        "type": "ui_multistate_switch",
        "z": "2242e2f628b1ea7d",
        "name": "",
        "group": "48d756b4de93a0b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "HOA Waterfall Pump",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": false,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "Off",
                "value": "off",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Auto",
                "value": "auto",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Hand",
                "value": "hand",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "12e9a83fdd105b4b",
                "54457a0a23170106"
            ]
        ]
    },
    {
        "id": "2aa8b8db0686664c",
        "type": "ui_digital_display",
        "z": "2242e2f628b1ea7d",
        "name": "Waterfall RPM Set",
        "group": "7692346a821a947a",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 130,
        "y": 760,
        "wires": []
    },
    {
        "id": "9c44f69ffc362448",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set Pump Prime Demand",
        "func": "if (msg.payload === 1) {\n    // push prime pump speed\n    msg.payload = Buffer.from(global.get('primepumpsd'), \"hex\");\n    await delay(500);\n    return [msg,{'payload':1}];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "11ef37aa9891664a"
            ],
            [
                "62a7d15ddce3a3f1"
            ]
        ]
    },
    {
        "id": "11ef37aa9891664a",
        "type": "delay",
        "z": "2242e2f628b1ea7d",
        "name": "Message Buffer 50ms",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.05",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 860,
        "y": 320,
        "wires": [
            [
                "dca8bf402e9e9a2e"
            ]
        ]
    },
    {
        "id": "62a7d15ddce3a3f1",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set Pump Prime Demand bk",
        "func": "if (msg.payload === 1) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('primepumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "9af0e6f27a535a27",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set Pump Speed Demand",
        "func": "if (msg.payload === 1) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('mainpumpsd'), \"hex\");\n    await delay(120000);\n    return [msg,{'payload':1}];\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "11ef37aa9891664a"
            ],
            [
                "a41afc295c83c397"
            ]
        ]
    },
    {
        "id": "a41afc295c83c397",
        "type": "function",
        "z": "2242e2f628b1ea7d",
        "name": "Set Pump Prime Demand bk",
        "func": "if (msg.payload === 1) {\n    // push main pump run speed\n    msg.payload = Buffer.from(global.get('mainpumpsd'), \"hex\");\n    await delay(500);\n    return msg;\n}\n\nasync function delay(timeMs) {\n    await new Promise(resolve => setTimeout(resolve, timeMs));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "11ef37aa9891664a"
            ]
        ]
    },
    {
        "id": "615470b8aeecb54b",
        "type": "link in",
        "z": "2242e2f628b1ea7d",
        "name": "link in Freeze",
        "links": [
            "919febfe094f2632"
        ],
        "x": 215,
        "y": 400,
        "wires": [
            [
                "e77263115e1ca086"
            ]
        ]
    },
    {
        "id": "f10ad99fc3bf1a96",
        "type": "link in",
        "z": "2242e2f628b1ea7d",
        "name": "link in Schedule WF",
        "links": [
            "ae0293a21b79967f"
        ],
        "x": 215,
        "y": 460,
        "wires": [
            [
                "e77263115e1ca086"
            ]
        ]
    },
    {
        "id": "20c5a5464fb43985",
        "type": "comment",
        "z": "2242e2f628b1ea7d",
        "name": "Pump #2 control flow, stops if left in hand for more than 4 hours",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "806a7968acd59338",
        "type": "comment",
        "z": "2242e2f628b1ea7d",
        "name": "Interface to adjust pump speeds, converts number into hex, adds pump specific commands and CRC16",
        "info": "",
        "x": 350,
        "y": 720,
        "wires": []
    },
    {
        "id": "9b44c84c267179ea",
        "type": "comment",
        "z": "2242e2f628b1ea7d",
        "name": "tcp out can be replaced with rtu out if using attached /dev/tty",
        "info": "",
        "x": 1240,
        "y": 260,
        "wires": []
    },
    {
        "id": "8a74c2f770ea35e4",
        "type": "eztimer",
        "z": "d2c68e9ea49e3bd9",
        "name": "Run Cleaner Pool Pump",
        "debug": false,
        "autoname": "03:00 - 12:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "manual",
        "latLongHaZone": "zone.home",
        "lat": "",
        "lon": "",
        "timerType": "1",
        "startupMessage": true,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "03:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "2",
        "offtimesun": "dusk",
        "offtimetod": "12:00",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "0b65f27a769b9b61",
                "4b86bb76bd1989d5"
            ]
        ]
    },
    {
        "id": "ef43362f770f0554",
        "type": "ui_multistate_switch",
        "z": "d2c68e9ea49e3bd9",
        "name": "",
        "group": "a77680b5e2f83022",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "HOA Cleaner Pump",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": false,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "Off",
                "value": "off",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Auto",
                "value": "auto",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Hand",
                "value": "hand",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "e246f39b6238ecbf"
            ]
        ]
    },
    {
        "id": "e246f39b6238ecbf",
        "type": "function",
        "z": "d2c68e9ea49e3bd9",
        "name": "HOA_Convert",
        "func": "if(msg.payload==='hand'){\n    msg.payload = {'suspended':true};\n    msg.payload = {'action':'on'};\n    return msg;\n}\nelse if(msg.payload==='auto'){\n    msg.payload = {'suspended':false};\n    return msg;\n}\nelse{\n    msg.payload = {'suspended':false};\n    msg.payload = {'action':'off'};\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            [
                "8a74c2f770ea35e4"
            ]
        ]
    },
    {
        "id": "3c0e65b82291ca59",
        "type": "link out",
        "z": "d2c68e9ea49e3bd9",
        "name": "link out Cleaner",
        "mode": "link",
        "links": [
            "6d60918a2d1d00c7"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    },
    {
        "id": "0b65f27a769b9b61",
        "type": "function",
        "z": "d2c68e9ea49e3bd9",
        "name": "Main Pump Run",
        "func": "if(msg.payload === 1){\n    msg.payload = {'suspended':true};\n    msg.payload = {'action':'on'};\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "3c0e65b82291ca59"
            ]
        ]
    },
    {
        "id": "3ccee3b8c2f18719",
        "type": "link in",
        "z": "d2c68e9ea49e3bd9",
        "name": "link in Freeze",
        "links": [
            "919febfe094f2632"
        ],
        "x": 185,
        "y": 180,
        "wires": [
            [
                "8a74c2f770ea35e4"
            ]
        ]
    },
    {
        "id": "a1e60eef4d7009cc",
        "type": "link in",
        "z": "d2c68e9ea49e3bd9",
        "name": "link in Schedule Cleaner",
        "links": [
            "11b5851c7c4372e7"
        ],
        "x": 185,
        "y": 240,
        "wires": [
            [
                "8a74c2f770ea35e4"
            ]
        ]
    },
    {
        "id": "4b86bb76bd1989d5",
        "type": "function",
        "z": "d2c68e9ea49e3bd9",
        "name": "Set Cleaner Run CMD Global",
        "func": "global.set('cleaner',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "1fbeeef41e929801"
            ]
        ]
    },
    {
        "id": "1fbeeef41e929801",
        "type": "ui_led",
        "z": "d2c68e9ea49e3bd9",
        "order": 3,
        "group": "a77680b5e2f83022",
        "width": 0,
        "height": 0,
        "label": "Pool Cleaner Run Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "aafef63d399ea29d",
        "type": "comment",
        "z": "d2c68e9ea49e3bd9",
        "name": "Pool Cleaner Flow - Controls relay through global variable",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf13e4ed1d796137",
        "type": "ui_dropdown",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "1",
        "group": "d254887f7bb0664c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Alpine White",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Sky Blue",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Cobalt Blue",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Caribbean Blue",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Spring Green",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Emerald Green",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Emerald Rose",
                "value": 7,
                "type": "num"
            },
            {
                "label": "Magenta",
                "value": 8,
                "type": "num"
            },
            {
                "label": "Violet",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Slow Color Splash",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Fast Color Splash",
                "value": 11,
                "type": "num"
            },
            {
                "label": "USA",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Fat Tuesday",
                "value": 13,
                "type": "num"
            },
            {
                "label": "Disco Tech",
                "value": 14,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "dropdown",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "b7e0ab1b05707018",
                "2147bddeb1f24415",
                "dacbdf04ec39addb",
                "723ed6891105215e"
            ]
        ]
    },
    {
        "id": "07e24069e43dd42f",
        "type": "function",
        "z": "4a0a70f997c94c8e",
        "name": "Calculate Light Pulses",
        "func": "var counter = 0;\nvar numMaxPulse = 14;\n\nif(msg.payload[0] > msg.payload[1]){\n    counter = msg.payload[0] - msg.payload[1];\n}\nif(msg.payload[0] < msg.payload[1]){\n    counter = numMaxPulse - msg.payload[1];\n    counter = counter + msg.payload[0];\n}\nreturn [{'payload':counter}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "741833ea.8be7cc"
            ]
        ]
    },
    {
        "id": "2147bddeb1f24415",
        "type": "persist out",
        "z": "4a0a70f997c94c8e",
        "name": "LightStatus",
        "storageNode": "04857c5dd16511db",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "7a8d1ff563d4b60b"
            ]
        ]
    },
    {
        "id": "dacbdf04ec39addb",
        "type": "persist in",
        "z": "4a0a70f997c94c8e",
        "name": "LightStatus",
        "storageNode": "04857c5dd16511db",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "b7e0ab1b05707018",
        "type": "join",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "07e24069e43dd42f"
            ]
        ]
    },
    {
        "id": "7a8d1ff563d4b60b",
        "type": "delay",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "b7e0ab1b05707018",
                "07d90ac4f924424d"
            ]
        ]
    },
    {
        "id": "741833ea.8be7cc",
        "type": "function",
        "z": "4a0a70f997c94c8e",
        "name": "BLINK n Times",
        "func": "\nvar o = false;\nfor (var i=0; i<(msg.payload*2); i++) {\n    node.send( {payload:+(o=!o)} )\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "c79ca805.386358"
            ]
        ]
    },
    {
        "id": "c79ca805.386358",
        "type": "delay",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "f0aa6cb0bb61bf22"
            ]
        ]
    },
    {
        "id": "a1b439156cefc86e",
        "type": "ui_button",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "group": "d254887f7bb0664c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Turn Lights On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 260,
        "wires": [
            [
                "5238f2066e05122c"
            ]
        ]
    },
    {
        "id": "5238f2066e05122c",
        "type": "delay",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "f0aa6cb0bb61bf22"
            ]
        ]
    },
    {
        "id": "4293afec24bcb560",
        "type": "ui_button",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "group": "d254887f7bb0664c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Turn Lights Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "5238f2066e05122c"
            ]
        ]
    },
    {
        "id": "07d90ac4f924424d",
        "type": "delay",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "pauseType": "delay",
        "timeout": "28",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "a1b439156cefc86e"
            ]
        ]
    },
    {
        "id": "938891f9bd890add",
        "type": "trigger",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "num",
        "op2type": "num",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "4293afec24bcb560"
            ]
        ]
    },
    {
        "id": "f7f78802b827da04",
        "type": "comment",
        "z": "4a0a70f997c94c8e",
        "name": "Shut off Lights if on Longer than 4 hours - Reads light status from remote I/O",
        "info": "",
        "x": 270,
        "y": 360,
        "wires": []
    },
    {
        "id": "7cfab5f8f714e49e",
        "type": "ui_led",
        "z": "4a0a70f997c94c8e",
        "order": 1,
        "group": "d254887f7bb0664c",
        "width": 0,
        "height": 0,
        "label": "Lights On/Off Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "723ed6891105215e",
        "type": "ui_led",
        "z": "4a0a70f997c94c8e",
        "order": 1,
        "group": "d254887f7bb0664c",
        "width": 0,
        "height": 0,
        "label": "Light Color Selected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fffee9",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#1799e7",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#0047ab",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#4c9bb0",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#00ff7f",
                "value": "5",
                "valueType": "num"
            },
            {
                "color": "#5fbb9c",
                "value": "6",
                "valueType": "num"
            },
            {
                "color": "#50c878",
                "value": "7",
                "valueType": "num"
            },
            {
                "color": "#ff00ff",
                "value": "8",
                "valueType": "num"
            },
            {
                "color": "#000000",
                "value": "9",
                "valueType": "num"
            },
            {
                "color": "#ffff80",
                "value": "10",
                "valueType": "num"
            },
            {
                "color": "#ffff80",
                "value": "11",
                "valueType": "num"
            },
            {
                "color": "#ffff80",
                "value": "12",
                "valueType": "num"
            },
            {
                "color": "#ffff80",
                "value": "13",
                "valueType": "num"
            },
            {
                "color": "#ffff80",
                "value": "14",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0aa6cb0bb61bf22",
        "type": "function",
        "z": "4a0a70f997c94c8e",
        "name": "Set Lighting Control DO",
        "func": "global.set('lights',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7a0aa1ee3660ba8f",
        "type": "inject",
        "z": "4a0a70f997c94c8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "a431f66b574ed26d"
            ]
        ]
    },
    {
        "id": "a431f66b574ed26d",
        "type": "function",
        "z": "4a0a70f997c94c8e",
        "name": "Read Light Status",
        "func": "return [{'patyload':global.get('lightStatus')}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "938891f9bd890add",
                "7cfab5f8f714e49e"
            ]
        ]
    },
    {
        "id": "8a5ebe031587648c",
        "type": "comment",
        "z": "4a0a70f997c94c8e",
        "name": "Light control flow - designed to click through Jandy colored light setup",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "177855e6ea2e81fd",
        "type": "function",
        "z": "13125f291573f180",
        "name": "Set Variables",
        "func": "if (msg.topic === \"FreezeSP\") {\n    global.set('freeze', msg.payload);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2bcc65f1745358",
        "type": "ui_numeric",
        "z": "13125f291573f180",
        "name": "",
        "label": "Freeze Protection Set Point",
        "tooltip": "",
        "group": "83e3861adaad8246",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "FreezeSP",
        "topicType": "str",
        "format": "{{value}}",
        "min": "33",
        "max": "40",
        "step": "1",
        "className": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "e35f568f97aecc0b",
                "177855e6ea2e81fd"
            ]
        ]
    },
    {
        "id": "be5e6a897a41ecb2",
        "type": "function",
        "z": "13125f291573f180",
        "name": "Check Temp for Freeze",
        "func": "var currentTemp = 100; //global.get('outsideTemp');\n\nif(currentTemp < global.get('freeze')){\n    return [{'payload':1}];\n} \nelse {\n    return [{'payload':0}];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "dfd8251fa8c435ec"
            ]
        ]
    },
    {
        "id": "e35f568f97aecc0b",
        "type": "ui_digital_display",
        "z": "13125f291573f180",
        "name": "Freeze Set Point",
        "group": "83e3861adaad8246",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "2",
        "decimals": "0",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "dfd8251fa8c435ec",
        "type": "function",
        "z": "13125f291573f180",
        "name": "Run All Pumps",
        "func": "if (msg.payload === 1) {\n    msg.payload = { 'suspended': true };\n    msg.payload = { 'action': 'on' };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "919febfe094f2632"
            ]
        ]
    },
    {
        "id": "919febfe094f2632",
        "type": "link out",
        "z": "13125f291573f180",
        "name": "link out Freeze",
        "mode": "link",
        "links": [
            "3ccee3b8c2f18719",
            "615470b8aeecb54b",
            "5ef145ec8dcb0b8a"
        ],
        "x": 875,
        "y": 100,
        "wires": []
    },
    {
        "id": "89a47a0f4c981fb2",
        "type": "inject",
        "z": "13125f291573f180",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "be5e6a897a41ecb2"
            ]
        ]
    },
    {
        "id": "ad5310135d80b9c8",
        "type": "comment",
        "z": "13125f291573f180",
        "name": "Freeze Protection Flow - checks remote temperature and turns all pumps on if below set point temperature",
        "info": "",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "a2cf16310c0abde0",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Monday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "mon",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "f5a7a70d426632cf",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert to eztimer",
        "func": "if(msg.topic === \"mon\"){\n    if(msg.payload){\n        msg.payload = {'mon':true};\n    } else{\n        msg.payload = {'mon':false};\n    }\n}else if(msg.topic === \"tue\"){\n    if (msg.payload) {\n        msg.payload = { 'tue': true };\n    } else {\n        msg.payload = { 'tue': false };\n    }\n} else if (msg.topic === \"wed\") {\n    if (msg.payload) {\n        msg.payload = { 'wed': true };\n    } else {\n        msg.payload = { 'wed': false };\n    }\n} else if (msg.topic === \"thu\") {\n    if (msg.payload) {\n        msg.payload = { 'thu': true };\n    } else {\n        msg.payload = { 'thu': false };\n    }\n} else if (msg.topic === \"fri\") {\n    if (msg.payload) {\n        msg.payload = { 'fri': true };\n    } else {\n        msg.payload = { 'fri': false };\n    }\n} else if (msg.topic === \"sat\") {\n    if (msg.payload) {\n        msg.payload = { 'sat': true };\n    } else {\n        msg.payload = { 'sat': false };\n    }\n} else if (msg.topic === \"sun\") {\n    if (msg.payload) {\n        msg.payload = { 'sun': true };\n    } else {\n        msg.payload = { 'sun': false };\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 80,
        "wires": [
            [
                "7cce2edea9cb0127"
            ]
        ]
    },
    {
        "id": "7384352b.3597a4",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Start Time",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "start",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e6b1f8b5.ac6328",
                "fd8c33e516fb7022"
            ]
        ]
    },
    {
        "id": "e6b1f8b5.ac6328",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "on",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "57a1524f6b9ea44c"
            ]
        ]
    },
    {
        "id": "8d085078aa8198bd",
        "type": "comment",
        "z": "6b22b498c6292ac6",
        "name": "Main Pump Scheduling",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "fb458b80a5a9ee21",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Tuesday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 6,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "tue",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "92ca84c3dd6d1c24",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Wed",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 7,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "wed",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "c80218a21999f8b2",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Thursday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 8,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "thu",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "a875e60dd1201529",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Friday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 9,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "fri",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "f4c2c446184f0643",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Saturday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 10,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sat",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "d8eb6fcf909d25d7",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Sunday",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 11,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sun",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "f5a7a70d426632cf"
            ]
        ]
    },
    {
        "id": "57a1524f6b9ea44c",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert time eztimer",
        "func": "if(msg.topic === 'on'){\n    msg.payload = { 'ontime': msg.payload };\n}\nif(msg.topic === 'off'){\n    msg.payload = {'offtime': msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 120,
        "wires": [
            [
                "7cce2edea9cb0127"
            ]
        ]
    },
    {
        "id": "5d786101425d909a",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Stop Time",
        "tooltip": "",
        "group": "b7c26123c2ad79bb",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "stop",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "6450c41e653cd0c8",
                "3eb6caeee8c05fed"
            ]
        ]
    },
    {
        "id": "6450c41e653cd0c8",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "off",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "57a1524f6b9ea44c"
            ]
        ]
    },
    {
        "id": "7cce2edea9cb0127",
        "type": "link out",
        "z": "6b22b498c6292ac6",
        "name": "link out Schedule Main",
        "mode": "link",
        "links": [
            "dff85099e89fce57"
        ],
        "x": 985,
        "y": 80,
        "wires": []
    },
    {
        "id": "84079873d1ad3076",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Monday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "mon",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "b7d34c6520e01e4c",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert to eztimer",
        "func": "if(msg.topic === \"mon\"){\n    if(msg.payload){\n        msg.payload = {'mon':true};\n    } else{\n        msg.payload = {'mon':false};\n    }\n}else if(msg.topic === \"tue\"){\n    if (msg.payload) {\n        msg.payload = { 'tue': true };\n    } else {\n        msg.payload = { 'tue': false };\n    }\n} else if (msg.topic === \"wed\") {\n    if (msg.payload) {\n        msg.payload = { 'wed': true };\n    } else {\n        msg.payload = { 'wed': false };\n    }\n} else if (msg.topic === \"thu\") {\n    if (msg.payload) {\n        msg.payload = { 'thu': true };\n    } else {\n        msg.payload = { 'thu': false };\n    }\n} else if (msg.topic === \"fri\") {\n    if (msg.payload) {\n        msg.payload = { 'fri': true };\n    } else {\n        msg.payload = { 'fri': false };\n    }\n} else if (msg.topic === \"sat\") {\n    if (msg.payload) {\n        msg.payload = { 'sat': true };\n    } else {\n        msg.payload = { 'sat': false };\n    }\n} else if (msg.topic === \"sun\") {\n    if (msg.payload) {\n        msg.payload = { 'sun': true };\n    } else {\n        msg.payload = { 'sun': false };\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 500,
        "wires": [
            [
                "ae0293a21b79967f"
            ]
        ]
    },
    {
        "id": "04738e97a0a5b0e5",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Start Time",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "start",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a46750cf7a6dfd67",
                "8176b247912f0722"
            ]
        ]
    },
    {
        "id": "a46750cf7a6dfd67",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "on",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "57a6ef5f4cff7f39"
            ]
        ]
    },
    {
        "id": "8821387efb30d23d",
        "type": "comment",
        "z": "6b22b498c6292ac6",
        "name": "Waterfall Pump Scheduling",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "94d3c9c1e5b54416",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Tuesday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 6,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "tue",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "518834109e2133d8",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Wed",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 7,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "wed",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "d87d844e814632ad",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Thursday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 8,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "thu",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "a555e104ee2b84f7",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Friday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 9,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "fri",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "fc018a2e5e42e7af",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Saturday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 10,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sat",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "c21d4114e6ec07f7",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Sunday",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 11,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sun",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "b7d34c6520e01e4c"
            ]
        ]
    },
    {
        "id": "57a6ef5f4cff7f39",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert time eztimer",
        "func": "if (msg.topic === 'on') {\n    msg.payload = { 'ontime': msg.payload };\n}\nif (msg.topic === 'off') {\n    msg.payload = { 'offtime': msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "ae0293a21b79967f"
            ]
        ]
    },
    {
        "id": "471903b44c6a0f07",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Stop Time",
        "tooltip": "",
        "group": "84957e4c9b1a3907",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "stop",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "ee5471a65a367935",
                "1790055e2fb12ff2"
            ]
        ]
    },
    {
        "id": "ee5471a65a367935",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "off",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "57a6ef5f4cff7f39"
            ]
        ]
    },
    {
        "id": "172ac3b33dc8403e",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Monday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "mon",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "33ea413e8de63a1a",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert to eztimer",
        "func": "if(msg.topic === \"mon\"){\n    if(msg.payload){\n        msg.payload = {'mon':true};\n    } else{\n        msg.payload = {'mon':false};\n    }\n}else if(msg.topic === \"tue\"){\n    if (msg.payload) {\n        msg.payload = { 'tue': true };\n    } else {\n        msg.payload = { 'tue': false };\n    }\n} else if (msg.topic === \"wed\") {\n    if (msg.payload) {\n        msg.payload = { 'wed': true };\n    } else {\n        msg.payload = { 'wed': false };\n    }\n} else if (msg.topic === \"thu\") {\n    if (msg.payload) {\n        msg.payload = { 'thu': true };\n    } else {\n        msg.payload = { 'thu': false };\n    }\n} else if (msg.topic === \"fri\") {\n    if (msg.payload) {\n        msg.payload = { 'fri': true };\n    } else {\n        msg.payload = { 'fri': false };\n    }\n} else if (msg.topic === \"sat\") {\n    if (msg.payload) {\n        msg.payload = { 'sat': true };\n    } else {\n        msg.payload = { 'sat': false };\n    }\n} else if (msg.topic === \"sun\") {\n    if (msg.payload) {\n        msg.payload = { 'sun': true };\n    } else {\n        msg.payload = { 'sun': false };\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 920,
        "wires": [
            [
                "11b5851c7c4372e7"
            ]
        ]
    },
    {
        "id": "b59c22854db53e6c",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Start Time",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "start",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "1a2ac76c380b1eaf",
                "cbe9fae3bae22758"
            ]
        ]
    },
    {
        "id": "1a2ac76c380b1eaf",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "on",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "61d016ba3b3ff25b"
            ]
        ]
    },
    {
        "id": "ea8afd700a4056ff",
        "type": "comment",
        "z": "6b22b498c6292ac6",
        "name": "Cleaner Pump Scheduling",
        "info": "",
        "x": 170,
        "y": 880,
        "wires": []
    },
    {
        "id": "1ef9197a8a72c3cb",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Tuesday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 6,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "tue",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "d7e9f3dda67798de",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Wed",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 7,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "wed",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "8e676aadcbf0ab48",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Thursday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 8,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "thu",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "302de734e4bdcd38",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Friday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 9,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "fri",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "514d899c6f9846a5",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Saturday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 10,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sat",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "be76a3ab70bdc556",
        "type": "ui_switch",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Sunday",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 11,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sun",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "33ea413e8de63a1a"
            ]
        ]
    },
    {
        "id": "61d016ba3b3ff25b",
        "type": "function",
        "z": "6b22b498c6292ac6",
        "name": "Convert time eztimer",
        "func": "if (msg.topic === 'on') {\n    msg.payload = { 'ontime': msg.payload };\n}\nif (msg.topic === 'off') {\n    msg.payload = { 'offtime': msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 960,
        "wires": [
            [
                "11b5851c7c4372e7"
            ]
        ]
    },
    {
        "id": "f6757cf1a1ade8d9",
        "type": "ui_text_input",
        "z": "6b22b498c6292ac6",
        "name": "",
        "label": "Stop Time",
        "tooltip": "",
        "group": "6a8650e4fce7628a",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "5000",
        "topic": "stop",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "5632295aedc184d5",
                "f357d9d8ce5bc855"
            ]
        ]
    },
    {
        "id": "5632295aedc184d5",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "off",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "61d016ba3b3ff25b"
            ]
        ]
    },
    {
        "id": "ae0293a21b79967f",
        "type": "link out",
        "z": "6b22b498c6292ac6",
        "name": "link out Schedule WF",
        "mode": "link",
        "links": [
            "f10ad99fc3bf1a96"
        ],
        "x": 965,
        "y": 500,
        "wires": []
    },
    {
        "id": "11b5851c7c4372e7",
        "type": "link out",
        "z": "6b22b498c6292ac6",
        "name": "link out Schedule Cleaner",
        "mode": "link",
        "links": [
            "a1e60eef4d7009cc"
        ],
        "x": 965,
        "y": 920,
        "wires": []
    },
    {
        "id": "991368d65b6dd9ea",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "b7c26123c2ad79bb",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "59ec2eb2409221cb",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "b7c26123c2ad79bb",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd8c33e516fb7022",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "991368d65b6dd9ea"
            ]
        ]
    },
    {
        "id": "3eb6caeee8c05fed",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "59ec2eb2409221cb"
            ]
        ]
    },
    {
        "id": "507041ec1307b379",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "84957e4c9b1a3907",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "16468c36fa5b44ce",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "84957e4c9b1a3907",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 820,
        "wires": []
    },
    {
        "id": "8176b247912f0722",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "507041ec1307b379"
            ]
        ]
    },
    {
        "id": "1790055e2fb12ff2",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "16468c36fa5b44ce"
            ]
        ]
    },
    {
        "id": "427a516a62911c5d",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "6a8650e4fce7628a",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e8b4c06136c35fbd",
        "type": "ui_text",
        "z": "6b22b498c6292ac6",
        "group": "6a8650e4fce7628a",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "cbe9fae3bae22758",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 1200,
        "wires": [
            [
                "427a516a62911c5d"
            ]
        ]
    },
    {
        "id": "f357d9d8ce5bc855",
        "type": "moment",
        "z": "6b22b498c6292ac6",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm A",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "ETC/GMT",
        "x": 640,
        "y": 1240,
        "wires": [
            [
                "e8b4c06136c35fbd"
            ]
        ]
    },
    {
        "id": "4ff856479cd0b05c",
        "type": "modbustcp-write",
        "z": "d6e03a16f09c42f2",
        "name": "Write CMD to Digital Outs",
        "topic": "",
        "dataType": "Coils",
        "adr": "10000",
        "server": "38e9d493fe60cee2",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "266658f7f65106c4",
        "type": "modbustcp-read",
        "z": "d6e03a16f09c42f2",
        "name": "Read CMD from Digital Inputs",
        "topic": "",
        "dataType": "Coil",
        "adr": "10006",
        "quantity": "4",
        "rate": "2",
        "rateUnit": "s",
        "server": "38e9d493fe60cee2",
        "ieeeType": "off",
        "ieeeBE": true,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "af7eb88927da048a"
            ]
        ]
    },
    {
        "id": "141df5f1dc2c8481",
        "type": "modbustcp-read",
        "z": "d6e03a16f09c42f2",
        "name": "Read CMD from Analog Inputs",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "40000",
        "quantity": "4",
        "rate": "3",
        "rateUnit": "s",
        "server": "38e9d493fe60cee2",
        "ieeeType": "off",
        "ieeeBE": true,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "2409167426ecb1e0"
            ]
        ]
    },
    {
        "id": "4d26b1f2430c04ee",
        "type": "inject",
        "z": "d6e03a16f09c42f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DO",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "69f836429bbdbf05"
            ]
        ]
    },
    {
        "id": "69f836429bbdbf05",
        "type": "function",
        "z": "d6e03a16f09c42f2",
        "name": "Global Variables DO",
        "func": "var arrHolder = 0;\n\narrHolder[0] = global.get('oxidizer');\narrHolder[1] = global.get('cleaner');\narrHolder[2] = global.get('lights');\n\nreturn [{'payload':arrHolder}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "4ff856479cd0b05c"
            ]
        ]
    },
    {
        "id": "af7eb88927da048a",
        "type": "function",
        "z": "d6e03a16f09c42f2",
        "name": "Set Read Global Variables",
        "func": "\nglobal.set('localOff', msg.payload[0]);\nglobal.set('localRun', msg.payload[1]);\nglobal.set('lightStatus', msg.payload[2]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2409167426ecb1e0",
        "type": "function",
        "z": "d6e03a16f09c42f2",
        "name": "Set Read Global Variables",
        "func": "\nglobal.set('outsideTemp', msg.payload[0]);\nglobal.set('poolTemp', msg.payload[1]);\n\nreturn [{'payload': 75.5},{'payload': 85.5}]; // [{'payload': global.get('outsideTemp')}, {'payload': global.get('poolTemp')}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "8f1e889448869a6e",
                "46f760b3eef1041a"
            ],
            [
                "97e31d814deb66c6",
                "70386d63f8a547e6"
            ]
        ]
    },
    {
        "id": "e7460fd74bd73263",
        "type": "comment",
        "z": "d6e03a16f09c42f2",
        "name": "Communication to Remote I/O module for Relay Controls",
        "info": "",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f1e889448869a6e",
        "type": "ui_text",
        "z": "d6e03a16f09c42f2",
        "group": "a77680b5e2f83022",
        "order": 6,
        "width": 3,
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "tempTxt",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "97e31d814deb66c6",
        "type": "ui_text",
        "z": "d6e03a16f09c42f2",
        "group": "a77680b5e2f83022",
        "order": 7,
        "width": 3,
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "tempTxt",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "42c10fc146da2286",
        "type": "ui_template",
        "z": "d6e03a16f09c42f2",
        "group": "a77680b5e2f83022",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<style>\n    .tempTxt p {\n    font-size:250%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "39ab6b924840715e",
        "type": "inject",
        "z": "d6e03a16f09c42f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "2409167426ecb1e0"
            ]
        ]
    },
    {
        "id": "46f760b3eef1041a",
        "type": "ui_text",
        "z": "d6e03a16f09c42f2",
        "group": "a77680b5e2f83022",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Air Temp(F):",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "70386d63f8a547e6",
        "type": "ui_text",
        "z": "d6e03a16f09c42f2",
        "group": "a77680b5e2f83022",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Pool Temp(F):",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae1516fea4661232",
        "type": "comment",
        "z": "d6e03a16f09c42f2",
        "name": "Modbus remote I/O can be replaced with TCP/IP or on board I/O depending on installation",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    }
]